<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="container">
      <div class="profile-wrap">
        <div class="profile">
          <div><h1>Here is jerry`s Webpage</h1></div>
          {% if user and user.id %}
            <div class="user-name">{{'안녕하세요! ' + user.name + '님'}}</div>
            <div>
              <br>
            </div>
          <input id="my-id" type="hidden" value="{{user.id}}">
          <a id="my-profile" href="/profile" class="btn">내 프로필</a>
          <a id="logout" href="/auth/logout" class="btn">로그아웃</a>
        {% else %}
          <form id="login-form" action="/auth/login" method="post">
            <div class="input-group">
              <label for="id">아이디</label>
              <input id="id" type="id" name="id" required autofocus>
            </div>
            <div class="input-group">
              <label for="password">비밀번호</label>
              <input id="password" type="password" name="password" required>
            </div>
            <a id="join" href="/account" class="btn">회원가입</a>
            <button id="login" type="submit" class="btn">로그인</button>
          </form>
          <!-- 설명 텍스트와 이미지 추가 -->
          <div class="description">
            <p>로그인 후 다양한 서비스를 이용할 수 있습니다.</p>
            <p>처음 방문하셨다면 회원가입을 진행해주세요.</p>
          </div>
        {% endif %}
        </div>
        <footer>
          Made by&nbsp;
          <a href="https://github.com/alswjdghks" target="_blank">Jerry</a>
        </footer>
        <div>
          <img src="IMG_0126.jpeg" alt="jerry`s pet dog">
        </div>
      </div>
      {% block content %}
      {% endblock %}
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('error')) {
          alert(new URL(location.href).searchParams.get('error'));
        }
      };
    </script>
    {% block script %}
    {% endblock %}
  </body>
</html>
